.number-container {
  display: flex;
  flex-wrap: wrap;
}
.number {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  margin: 5px;
}
.even {
  background-color: #8bc34a;
}
.odd {
  background-color: #ffeb3d;
}
.film-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* form styles */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.contact-form-input {
  height: 40px;
  border: 1px solid #cccccc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.contact-form-btn {
  margin-top: 20px;
}

input.success {
  outline: 1px solid green;
}

input.error {
  outline: 1px solid red;
}
